aside {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 70px;
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(45, 46, 6, 0.75);;
}

aside a {
  font-size: xx-large;
  text-decoration: none;
  color: white;
}

aside button {
  margin: 10px
}

main {
  height: calc(100vh - 170px);
  background-color: rgba(255, 255, 255, 0.4);
  background-clip: padding-box;
  margin-left: 300px;
  padding: 50px;
}
