#session {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.stream-container {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 4%;
}

#video-container1 {
  width: 25%;
}

#video-container2 {
  width: 25%;
}

#game-container {
  width: 50%;
}

.main-container {
  height: 100%;
  background-color: black;
}

.none-container {
  width: 100%;
  aspect-ratio: 9/7;
  background-color: grey;
  margin-top: 4%;
  margin-bottom: 4%;
}

#icon-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.p-margin {
  margin-right: 10px;
  margin-left: 10px;
}
