@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

.carousel {
  width: 50%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
}

.carouselBox {
  text-align: center;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.carouselBox img {
  margin: 0 auto;
  width: 30vw;
}

.carouselBox button {
  margin: auto;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: auto;
  width: 20vw;
}

.carouselBox h1 {
  margin: 0;
}

.carousel .smallLogo {
  width: 10rem;
  height: 10rem;
  margin: 0;
}

.carouselBox .leftword {
  color: #be1616;
  /* font-family: 'Dokdo', cursive; */
  font-family: 'Song Myung', serif;
  position: absolute;
  bottom: 0;
  font-size: 1.5vw;
  cursor: pointer;
  bottom: 0;
  left: 10px;
  transition: 0.3s;
}

.carouselBox .rightword {
  color: #be1616;
  font-family: 'Song Myung', serif;
  /* font-family: 'Dokdo', cursive; */
  position: absolute;
  bottom: 0;
  font-size: 1.5vw;
  cursor: pointer;
  bottom: 0;
  right: 10px;
  transition: 0.3s;
}

.leftword:hover,
.leftword:focus,
.rightword:hover,
.rightword:focus{
  color: #ff5454;
  text-shadow:
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px rgb(255, 0, 0)
}

.mainText{
  font-size: 20px;
  font-family: 'Song Myung', serif;
}